﻿<h1> Opis Horoskopskih znakova </h1>


<h2 id="ovan">Ovan</h2>
<p>
    Vrlina: hrabrost
</p>
<p>
    Ono što je kod Ovna najizraženija osobina jest njegova hrabrost. Ovan odvažno kroči kroz život i uvijek ga nastoji iskoristiti do maksimuma, što često daje fantastične rezultate. Malo koji drugi znak može se pohvaliti vjerom u sebe i neustrašivošću, stoga nije ni čudno da su ovi ljudi vođe i pioniri koji se znaju snaći u svakoj situaciji.
</p>
<p>
    Mana: impulzivnost
</p>
<p>
    Ovnove njihova urođena nestrpljivost i impulzivnost često skupo koštaju. Ljudi ovog znaka ne znaju što znači strpljivost, oni žele sve i to odmah, no u životu tako ne ide. Često zbog svoje nagle prirode kažu ili naprave stvari koje brzo požale, no povratka nema. Kad bi se samo malo više podučili strpljenju, ne bi im bilo granice.
</p>



<h2 id="bik">
    Bik
</h2>
<p>
    Vrlina: strpljivost
</p>
<p>
    Nitko nije toliko strpljiv kao što je Bik. Ljudi rođeni u ovom znaku poznati su po sporosti i promišljenosti, zbog kojih nikad ne odustaju od cilja. Premda im se teško pokrenuti, jednom kad nešto odluče, to će sigurno i napraviti. Osim toga, vrlo su uporni, racionalni i stabilni, pa se na njih uvijek može osloniti. Pouzdani su kao partneri i prijatelji.
</p>
<p>
    Mana: tvrdoglavost
</p>
<p>
    Ovi ljudi su toliko tvrdoglavi da često rade protiv sebe. Nemoguće im je dokazati da su u krivu, a čak i ako sami to spoznaju, nikad neće popustiti. Njihove veze i odnosi s drugima najviše pate upravo zbog tvrdoglavosti, budući da je nekad s njima teško razgovarati i natjerati ih da sagledaju sve aspekte neke priče. Tvrdoglavost ih ometa i u napredovanju, pa će često odbiti mnoge primamljive ponude, samo zbog toga što ne vole promjene i inzistiraju da sve ostane kako je bilo.
</p>




<h2 id="blizanci">
    Blizanci
</h2>
<p>
    Vrlina: inteligencija
</p>
<p>
    Ovaj znak je sinonim za inteligenciju i snalažljivost. Često su sjajni matematičari, koji imaju izraženu logiku i s lakoćom mogu savladati svaki problem. Vrlo su zabavni i duhoviti, a nerijetko su i poznavaoci opće kulture, koji znaju odgovor na svako pitanje. Vole čitati, istraživati, njihov je um uvijek aktivan, no za razliku od nekih drugih znakova, Blizanci se zadržavaju na općim informacijama, budući da za dublje proučavanje nekih tema nemaju vremena ni koncentracije. U svakom slučaju, ovo su iznimno inteligentni ljudi koji s lakoćom uče, pišu i izražavaju se.
</p>
<p>
    Mana: prevrtljivost
</p>
<p>
    Ova se mana najčešće spočitava Blizancima. Uistinu, ovi ljudi toliko često mijenjaju mišljenje da okolina ima osjećaj da nisu dosljedni. U njihovu obranu, Blizanci imaju aktivan um koji nikad ne miruje, uvijek ih privlače nove stvari i zbog toga jedan dan misle jedno, a drugi drugo. Ova osobina ih prikazuje kao osobu na koju se ne može osloniti, jer je prevrtljiva i nepouzdana, no Blizanci znaju biti uz ljude koje vole, na neki svoj način.
</p>




<h2 id="rak">
    Rak
</h2>
<p>
    Vrlina: brižnost
</p>
<p>
    Ovi nježni ljudi za svakoga imaju toplu riječ i dobar savjet. Kad vam je teško, Rak će vam pružiti rame za plakanje, bit će vaš najbolji slušač te će napraviti sve što je u njegovoj moći da vam pomogne. Rakovi u sebi imaju snažnu potrebu brinuti se za druge, pa mogu gotovo intuitivno predosjetiti kad je netko u problemima. Njihova velikodušnost i spremnost da budu na usluzi uistinu su fascinantne, no nekad ih mogu učiniti magnetom za nesređene osobe koje žele bilo čiju pažnju.
</p>
<p>
    Mana: preosjetljivost
</p>
<p>
    Koliko su brižni, toliko su osjetljivi. Ove ljude može duboko povrijediti nečiji dobronamjerni komentar, konstruktivna kritika, ali i kriva riječ ili mrki pogled. Vrlo su nježni i skloni promjenama raspoloženja, pa ako imaju jedan od lošijih dana, sve što kažete ima posebnu težinu, a jedna kriva riječ navest će ih da grcaju u suzama i s vama ne pričaju dok ih ne zamolite za oprost. Rakovi su svjesni da su previše osjetljivi i da mijenjaju raspoloženje često koliko Blizanci mišljenje, no to ne mogu promijeniti. Ovo je osobina koja ide s njima u paketu, no uz sve ostale njihove prednosti, bližnji nauče s njome živjeti.
</p>




<h2 id="lav">
    Lav
</h2>
<p>
    Vrlina: velikodušnost
</p>
<p>
    Lavovi su ljudi dobrog srca, koji bližnje nesebično darivaju i uskaču im u pomoć kad je to potrebno. Vole život i znaju u njemu uživati, a u to rado uključuju i druge. Lav će vam uvijek posuditi novac, kupiti najveći dar, kod njega ćete biti uvijek dobrodošli i dobro počašćeni. Pozitivna je i optimistična osoba koja voli ljude i u čijem se društvu svi osjećaju ugodno.
</p>
<p>
    Mana: taština
</p>
<p>
    Nikome se ne preporučuje da na ikakav način uvrijedi Lava, jer će vam ovi ljudi to duboko zamjeriti i nikad vam neće oprostiti. Njegova taština često ga košta dobrih odnosa s bližnjima, jer je nesposoban primiti kritiku na svoj račun. Ukoliko ga na neki način omalovažite ili ponizite, izbrisat će vas iz života. Nitko se ne smije zezati s kraljem Zodijaka.
</p>




<h2 id="devica">
    Devica
</h2>
<p>
    Vrlina: radišnost
</p>
<p>
    Djevice su iznimno marljive i pedantne osobe kojima se može povjeriti svaki zadatak. Ozbiljno shvaćaju svoje dužnosti i odgovornosti pa nema nikakve šanse da će vas iznevjeriti. Spremne su naporno i marljivo raditi, u čemu im je vodilja njihova osobna želja za perfekcijom. U njima postoji težnja da sve što naprave bude do detalja razrađeno, što je ujedno i njihova najbolja osobina. Vrlo su precizne, pedantne i pouzdane, a kad nešto obećaju, to će i ostvariti.
</p>
<p>
    Mana: sklonost kritiziranju
</p>
<p>
    Težnja za savršenstvom kod ovih se ljudi može pokazati i najgorom osobinom, jer ih čini zahtjevnima i sklonima kritiziranju. Djevice nisu zlobne i nije im namjera nekoga povrijediti, no njihove kritike i savjeti često kod drugih izazivaju nezadovoljstvo i otpor. Djevicama je teško uputiti pohvalu, jer uvijek smatraju da može bolje. One samo žele pomoći i biti korisne. S vremenom mogu naučiti suspregnuti svoju potrebu za kritiziranjem zbog mira u kući. Ipak, duboko u njima i dalje postoji želja da vam ukažu u čemu ste pogriješili, stoga je potrebno mnogo samokontrole da se odupru tom porivu i pohvale vas za uloženi trud.
</p>




<h2 id="vaga">
    Vaga
</h2>
<p>
    Vrlina: pristupačnost
</p>
<p>
    Vage imaju mnogo lijepih osobina, no njihova druželjubivost i uglađenost zasigurno su među najistaknutijima. Vrlo su ljubazne, šarmantne i prijateljski nastrojene, a drugi mogu od njih učiti kako se treba ponašati u društvu. Ovi ljudi na račun svoje ugodne osobnosti imaju mnogo poznanika i prijatelja, koji će im rado uskočiti u pomoć i time olakšati poslovni napredak.
</p>
<p>
    Mana: licemjernost
</p>
<p>
    Vagama je bitno da su sa svima u dobrim odnosima. Nastoje pod svaku cijenu izbjeći svađe i sukobe, zbog čega često idu linijom manjeg otpora. Osim toga, sposobne su sagledati svaku stranu priče i sa svakom se donekle složiti, što okolina tumači kao licemjerje. Ipak, Vage nisu toliko licemjerne, koliko se svakome žele svidjeti, a na koncu se ispostavlja da je upravo to njihova najveća mana. Naime, drugi ljudi često smatraju da Vagama nedostaje dosljednosti i karaktera, što je daleko od istine.
</p>




<h2 id="skorpion">
    Škorpion
</h2>
<p>
    Vrlina: odanost
</p>
<p>
    Ako imate Škorpiona na svojoj strani, možete biti mirni jer vas on nikad neće izdati. Bilo da ste mu ljubavnik, partner ili prijatelj, on će vas uvijek čuvati i štititi, a čak i ako vam napravi nešto nažao, pobrinut će se da nikad ne saznate kako vas ne bi povrijedilo. Škorpiona je dobro imati da vam čuva leđa, jer će ova osoba uistinu staviti ruku u vatru za ljude koje voli i cijeni.
</p>
<p>
    Mana: osvetoljubivost
</p>
<p>
    Ovaj mračni znak ima nekoliko negativnih osobina pa je bilo teško izdvojiti jednu, no ni ljubomora ni posesivnost nisu toliko štetne za njega i okolinu koliko njegova osvetoljubivost. Kad je ugrožen ili povrijeđen, Škorpion zaboravlja na sve ostalo i prepušta želji za osvetom da potpuno preuzme kontrolu. Osvetoljubivost je jača od njega, a u želji da nekome vrati milo za drago i pokaže da je pogriješio što se s njime igrao, Škorpion je spreman mnogo toga žrtvovati, a na tom putu nerijetko uništi i sam sebe. Ipak, to je jače od njega i svaki pravi Škorpion, koliko god evoluirao, ima u sebi ovu crtu koja ga često skupo košta.
</p>




<h2 id="strelac">
    Strijelac
</h2>
<p>
    Vrlina: optimizam
</p>
<p>
    Ako imate novu ideju i treba vam nečija podrška, obratite se Strijelcu. Ovaj će sangvinik oduševljeno reagirati na svaku vašu zamisao, što će vas ispuniti samopouzdanjem i pozitivnom energijom. Strijelac je uvijek otvoren za nove stvari i nova iskustva, stoga ga je dobro imati uza sebe. Ovaj veseljak se ne zabrinjava previše oko problema i iskreno vjeruje da će se sve riješiti na najbolji mogući način, što je hvalevrijedna osobina, a njega čini osobom koju ljudi vole.
</p>
<p>
    Mana: gubitak interesa
</p>
<p>
    Koliko se lako zanese nekom novom idejom, toliko se brzo i ohladi. Strijelac je poznat po tome da entuzijastično pristupa novim stvarima, no brzo gubi interes, pa mnoge njegove ideje nikad ne budu do kraja ostvarene. To je prava šteta jer on uistinu ima zanimljive zamisli, stoga bi bilo dobro da bude malo uporniji i da ne odustane lako od svega čim osjeti zamor i dosadu.
</p>




<h2 id="jarac">
    Jarac
</h2>
<p>
    Vrlina: upornost
</p>
<p>
    Jarac je sinonim za osobu koja je do uspjeha došla uz mnogo truda i odricanja. Ovi ljudi ne vjeruju u uspjeh preko noći pa još od malena ulažu u sebe i u svoje znanje. Najbolji su u razredu, upisuju željeni fakultet i na koncu se zapošljavaju u firmi u kojoj počinju od dna, a za par godina postaju šefovi, direktori, a nekad i vlasnici. Jarci su vrlo ambiciozni i spremni na mnoge žrtve kako bi postigli uspjeh i osjećali se vrijednima. Njihova upornost je uistinu fascinantna i pokazuje kako se uz mnogo truda i volje može ostvariti svaki cilj.
</p>
<p>
    Mana: emocionalna hladnoća
</p>
<p>
    Ovim ljudima je iznimno teško pokazati svoje osjećaje, jer to smatraju slabošću. Za njih je normalno da emocije drže pod kontrolom pa ih nikad nećete vidjeti kako se svađaju pred drugima, podižu glas ili iskazuju ljutnju. Koliko god u sebi bili frustrirani, bijesni ili razočarani, Jarci će naizgled ostati smireni i ničim neće pokazati da su povrijeđeni, nikome neće pružiti to zadovoljstvo. Ovo često vodi do potisnutih emocija, frustracija, psihosomatskih tegoba pa i depresije, a u intimnim odnosima donosi probleme jer se partner može osjetiti nevoljenim ili zanemarenim. Od Jarca nećete dobivati stalne izljeve nježnosti, no rijetki trenuci u kojima dozvoli da padne njegova hladna maska bit će vrijedni čekanja.
</p>




<h2 id="vodolija">
    Vodenjak
</h2>
<p>
    Vrlina: liberalnost
</p>
<p>
    Među Vodenjacima teško da ćete pronaći nekoga tko je zadrt ili pun predrasuda prema drugima. Vodenjak voli ljude svih boja, rasa, veličina i narodnosti i njemu nije u prirodi po tome nekoga ocjenjivati. Važnije mu je koliko je netko zanimljiv i inteligentan, nego kojoj religiji ili nacionalnosti pripada. Isto je i na osobnoj razini. Vodenjak vam nikad neće suditi za neku pogrešku, neće vas sputavati da svoj život živite po tuđim pravilima te će vas ohrabrivati da budete ono što jeste. Njihovi slobodni svjetonazori nekad nisu u skladu s onima okoline, no s vremenom nauče koegzistirati.
</p>
<p>
    Mana: potreba za originalnošću
</p>
<p>
    Najveća mana ovih ljudi je njihova potreba da u svemu uvijek budu drugačiji, što nije uvijek pozitivno. Nekad se previše trude ostaviti dojam da ih nije za ništa briga i da se ne uklapaju u okvire, što stvara kontraučinak. Uvijek žele biti drugačiji, vole da se o njima priča i da ostavljaju dojam, a posebno su sretni ako mogu nekoga šokirati svojim izgledom, ponašanjem ili idejama. Trebali bi više pažnje polagati u sadržaj, a ne formu.
</p>


<h2 id="ribe">
    Ribe
</h2>
<p>
    Vrlina: suosjećajnost
</p>
<p>
    Nijedan znak ne posjeduje toliku dozu empatije kao RIbe, što ih čini iznimno poželjnim prijateljima i partnerima. Oni će iskreno suosjećati s vama kad ste u problemima te će napraviti sve što mogu kako bi vam pomogli. Nikad ne osuđuju i mogu razumjeti nečije pogreške i propuste, što je iznimna kvaliteta koja ih izdiže od ostalih znakova. Ovi topli ljudi sve što rade rade sa srcem, a ako vas vole, nije im teško za vas podnijeti nikakvu žrtvu.
</p>
<p>
    Mana: potreba za bijegom od stvarnosti
</p>

<p>
    Svaka prava Riba treba neki način bijega od surove i hladne stvarnosti. Neke to rade čitanjem, slikanjem, sviranjem ili gledanjem filmova i sapunica, no njihova potreba za bijegom može biti problem ukoliko ga potraže u alkoholu ili raznim opijatima. Ovi ljudi vole odlutati u svoj svijet mašte, a zbog neracionalnosti često mogu donositi pogrešne odluke ili raditi moralno upitne stvari koje se u njihovoj glavi ne čine tako strašnima, no druge ljude može povrijediti.
</p>
