﻿
@model WebApplication5.Models.Datum


@{
    ViewBag.Title = "Home Page";
}

<html lang="en">
<head>
 
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
</head>
<body>

    <div class="container">
        <h2>Izracunajte Vas horoskopski znak</h2>
        @using (Html.BeginForm("Datum", "Home", FormMethod.Post))
        {
            <form action="/action_page.php">
                <div class="form-group">
                    <label for="email">Unesite dan:</label>


                    @Html.TextBoxFor(model => model.dan)


                </div>
                <div class="form-group">
                    <label for="email">Unesite mesec:</label>


                    @Html.TextBoxFor(model => model.mesec)


                </div>
             

                <div>

                    <input type="submit" class="btn btn-default" value="Potvrdjujem" />
                </div>



        
        </form>

        }
        </div>
    </body>
</html>
