﻿
@{
    ViewBag.Title = "View";
}
@model WebApplication5.Models.Datum




<h1>Uneti dan i mesec Vaseg rodjenja je sledeci:</h1>
    <tr>
    <td>
        <p>Dan: @Html.DisplayFor(modelItem => Model.dan) </p>
    
    </td>
    <td>
        <p>Mesec: @Html.DisplayFor(modelItem => Model.mesec)</p>
      
    </td>

</tr>
       <h2>Vas horoskopski znak je:</h2>
            @Html.DisplayFor(modelItem => Model.znak)
       

        
            <h2>Opis Vaseg znaka je: </h2>
            @Html.DisplayFor(modelItem => Model.opis)
        

    
